label {
    font-size: 1.2em;
}

form
{
    width: auto;
}

.container {
    margin-top: 10vh !important;
}
th {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    text-align: center;
    background-color: var(--sec) !important;
    color: var(--bg_white) !important;
    border: 1px solid var(--bg_white);
}

.btn-delete {
    background-color: var(--att) !important;
}

